{% extends 'layout/base.html' %}
{% set pageTitle = 'Incentro Feed' %}

{% block bodyContent %}
<aside class="app-sidebar">
	<h3 class="app-sidebar__title">Incentro Feed</h3>
	<span><img src="../../asset/image/astronaut.svg" width="35" style="opacity: 0.3;"/></span>
	<div class="app-sidebar__image"></div>

	<div class="feedblock feedblock--intro"></div>
	<div class="feedblock feedblock--weather">
		<h4>Het weer</h4>
		<p>Hier komt nu een stukje over het weer asdfasdfoiasdgnk;awef</p>
	</div>
	<div class="feedblock feedblock--news">
		<h4>Regionaal nieuws</h4>
		<span>Hier komt het regionale nieuws</span>
	</div>
	<div class="feedblock feedblock--traffic">
		<h4>Openbaar vervoer</h4>
		<span>Hier komt nu een stukje over het openbaar vervoer</span>
	</div>
	<div class="feedblock feedblock--sightseeing">
		<h4>Sightseeing</h4>
		<span>Hier komt nu een stukje over bezienswaardigheden</span>
	</div>

</aside>

<div class="app-maps"></div>
{% endblock %}
