{% extends 'layout/base.html' %}
{% set pageTitle = 'Incentro Feed' %}

{% block bodyContent %}

<aside class="app-sidebar--preselect">
	<h3>Selecteer je<br>incentro vestiging</h3>
	<span><img src="../../asset/image/astronaut.svg" width="80%" style="opacity: 0.3;"/></span>
</aside>

<aside class="app-sidebar">
	<h3 class="app-sidebar__title">Incentro Feed</h3>
	<div class="app-sidebar__image"></div>

	<div class="feedblock feedblock--intro"></div>
	<div class="feedblock feedblock--weather">
		<h4>Het weer</h4>
		<p>Hier komt een stukje over het weer</p>
	</div>
	<div class="feedblock feedblock--news">
		<h4>Regionaal nieuws</h4>
		<div class="widget-frame"></div>
	</div>
	<div class="feedblock feedblock--traffic">
		<h4>Openbaar vervoer</h4>
	</div>
	<div class="feedblock feedblock--sightseeing">
		<h4>Sightseeing</h4>
	</div>
</aside>

<div class="app-maps"></div>
{% endblock %}
