.app-sidebar{
  top: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  width: $sidebar-width;
  position: absolute;
  z-index: 100;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.19);
  overflow-y: scroll;

    &__location-image{
      width: 100%;
      height: 250px;
      background-color: red;
      overflow: hidden;

      img{
        height: 100%;
      }
    }

    h1{
      color: $color-primary;
      font-weight: normal;
      display: inline-block;
      padding: 2rem;
    }


}

.feedblock{
  right: 0;
  left: 0;
  padding: 2rem 2rem;
  display: block;
  border-top: 0.5px solid #d9d9d9;

  h4, h6{
    font-weight: normal;
  }

  span.icon{
    height: 60px;
    width: 60px;
    display: block;
    float: right;
    top: 0;
    right: 0;
  }


  &__intro{
    span.title{
      color: #cccccc;
      font-family: $font-family-base;
      font-size: $font-size-sm;

      img{
        width: 80px;
        height: 80px;
      }
    }
  }

  &__content{


    h4{
      font-size: 1.3rem;
    }

    span{
      color: #cccccc;
      font-family: $font-family-base;
      font-size: $font-size-sm;
    }

  }


}

.app-main{
  padding-left: $sidebar-width;
  position: relative;
}
