.app-main {
  padding-left: $sidebar-width;
  position: relative;
}

.app-sidebar {
  top: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  width: $sidebar-width;
  position: absolute;
  z-index: 100;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  overflow-y: auto;

  &__title {
    display: block;
    color: $color-primary;
    font-weight: normal;
    padding: 1.5rem;
    margin-bottom: 0;

    &:after {
      content: '';
      float: right;
      display: inline-block;
      width: 2rem;
      height: 2rem;
      margin-left: 0.5rem;
      background: url(../../asset/image/astronaut.svg) center no-repeat;
      background-size: contain;
    }
  }
  &__image {
    height: 240px;
    background: #DDD center no-repeat;
    background-size: cover;
    border-top: 0.5px solid #d9d9d9;
  }

  &--preselect{
    top: 0;
    left: 0;
    bottom: 0;
    padding-top: 12%;
    width: $sidebar-width;
    height: 100%;
    background-color: #f3f3f3;
    position: absolute;
    z-index: 200;

    h3{
      text-align: center;
      color: $color-primary;
      font-weight: normal;
    }

    img{
      width: 70%;
      margin: 4rem;
      text-align: center;
      display: block;
      opacity: 0.1 !important;
    }
  }

}

.feedblock {
  position: relative;
  display: block;
  min-height: 100px;
  padding: 1.5rem 5rem 1.5rem 1.5rem;
  border-top: 0.5px solid #d9d9d9;

  h4, h6 {
    font-weight: normal;
  }

  &:after {
    content: "";
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 54px;
    height: 54px;
    background: no-repeat top right;
    background-size: contain;
  }

  &--content {
    h4 {
      font-size: 1.3rem;
    }

    span {
      color: #cccccc;
      font-family: $font-family-base;
      font-size: $font-size-sm;
    }
  }

}

// Intro
.feedblock--intro {
  p:first-child {
    margin-bottom: 0.25rem;
  }
}

// Weather
.feedblock--weather {
  .temperature {
    font-size: 2rem;
  }
  &:after {
    background-image: url('../../asset/image/cloudy.svg');
  }
}

// News
.feedblock--news {

  .widget-frame {
    margin-top: -45px;
    margin-left: -1px;

    overflow: hidden;
  }
  iframe {
    width: calc(100% + 18px);
    border: 0;
  }
  &:after {
    background-image: url('../../asset/image/newspaper.svg');
  }
}

// Traffic
.feedblock--traffic:after {
  background-image: url('../../asset/image/bus.svg');
}

// Sightseeing
.feedblock--sightseeing:after {
  background-image: url('../../asset/image/monument.svg');
}

// Loading state
.feedblock--loading {
  &:after,
  &:before {
    content: '';
    position: absolute;
  }
  &:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.5);
  }
  &:after {
    top: 50%;
    left: 50%;
    width: 2rem;
    height: 2rem;
    margin-top: -1rem;
    margin-left: -1rem;
    background: url('../../asset/image/spinner.gif') no-repeat center;
    background-size: contain;
  }
}
